* {
    box-sizing: border-box; 
    margin: 0px; 
    padding: 0px;
}
  
:root {
    background: white;
}

body {
  background-image: url(../assets/images/painted-sakura.jpg);
  background-size: cover;
  background-position: relative; 
  background-color: white; 
  background-repeat: no-repeat; 
  padding: 3rem;
  flex: 1;
  height: 850px;
  width: 100%; 
}

.btn {
    margin: 5px;
    padding: 2rem 2rem;
    border: 3px solid palevioletred;
    border-spacing: 1rem;
    border-radius: 2px;
    line-height: 1.5;
    width: 80%;
    background-color: white;
}

.weather-hr {
    border: 1px solid black;
    width: 83%;
}

.weather-search {
    min-height: 50px;
    border-radius: 0.5px;
}

li {
    list-style-type: none;
}

.list-group {
    background-color: white;
    display: inline-block;
    padding: 3rem;
    color: black;
    font-weight: 500;
    margin-top: 6px;
    width: 83%;
    height: 300px;
}

.forecast {
    left: 6%; 
    background-color: white;
    border: 3px solid white;
    border-radius: 0rem;
    padding: 3rem;
    margin-top: 15px;
    margin-left: 0px;
    margin-bottom: 6px;
    height: 250px;
}

.container .container-fluid .row {
    display: flex;
    flex-direction: row; 
    justify-content: ;
    width: 100%;
}


/*responsive design