.today-forecast {
    background-color: rgb(146, 146, 244);
    padding: 20px;
    color: white;
}

.weather-hr {
    border: 1px solid black;
    width: 100%;
}

.btn {
    margin: 5px;
    padding: 0.5rem 0.5rem;
    border: 1px solid black;
    border-spacing: 0.5rem;
    border-radius: 0;
    line-height: 1.5;
}

.weather-search {
    min-height: 40px;
}

.error-msg {
    background-color: white;
    display: inline-block;
    padding: 6px;
    color: black;
    font-weight: 500;
    margin-top: 6px;
}

.hide {
    display: none;
}

.forecastCard {
    border: 1px solid black;
    margin-left: 15px;
    margin-bottom: 6px;
}

/*responsive design